.hiddenContent {
  display: none;
}

@media print {
  html, body {
    height: auto !important;
    overflow: initial !important;
    color-adjust: exact;
  }

  @page {
    size: A4 landscape;
    margin: 30px;
  }
}
